<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141582114934-nc4e626venqtq157gt071qk3rvkojmth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141582114934-nc4e626venqtq157gt071qk3rvkojmth</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>141582114934-2dg15d4m04fpiv7jafps42q97p6103cj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbgC51n5siWE_2jpXHdqBt5ViBQmiE-hU</string>
	<key>GCM_SENDER_ID</key>
	<string>141582114934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.couponsgate</string>
	<key>PROJECT_ID</key>
	<string>couponsgate</string>
	<key>STORAGE_BUCKET</key>
	<string>couponsgate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141582114934:ios:4fb85d0908b3d3c7ea3f57</string>
</dict>
</plist>